absl-py=1.4.0
accelerate=0.21.0
addict=2.4.0
aiofiles=23.2.1
aiohttp=3.8.5
aiosignal=1.3.1
alabaster=0.7.13
albumentations=1.3.1
ale-py=0.8.1
aliyun-python-sdk-cdn=3.8.8
aliyun-python-sdk-core=2.13.36
aliyun-python-sdk-core-v3=2.13.33
aliyun-python-sdk-kms=2.16.1
aliyunsdkcore=1.0.3
altair=5.0.1
aniso8601=9.0.1
annotated-types=0.5.0
antlr4-python3-runtime=4.9.3
anyascii=0.3.2
anyio=3.7.1
appdirs=1.4.4
argon2-cffi=23.1.0
argon2-cffi-bindings=21.2.0
arrow=1.2.3
astropy=5.2.2
asttokens=2.2.1
async-lru=2.0.4
async-timeout=4.0.3
attributedict=0.3.0
attrs=23.1.0
audioread=3.0.0
auditnlg=0.0.1
auto-gptq=0.4.2
autoawq=0.1.8
autorom=0.4.2
autorom-accept-rom-license=0.6.1
av=10.0.0
babel=2.12.1
backcall=0.2.0
backports-zoneinfo=0.2.1
bcrypt=4.0.1
beautifulsoup4=4.12.2
bidict=0.22.1
biopython=1.81
bitarray=2.8.1
bitsandbytes=0.41.1
bitstring=4.1.2
black=23.9.1
bleach=6.0.0
blessings=1.7
blinker=1.6.2
blis=0.7.10
blobfile=2.0.2
bmt-clipit=1.0
boto3=1.28.48
botocore=1.31.48
bottleneck=1.3.7
brotli=1.1.0
ca-certificates=2023.05.30=h06a4308_0
cachetools=5.3.1
catalogue=2.0.9
certifi=2023.7.22
cffi=1.15.1
cfgv=3.4.0
chardet=5.2.0
charset-normalizer=3.2.0
chumpy=0.70
click=8.1.7
clip=1.0
cloudpickle=2.2.1
cmake=3.27.2
codecov=2.1.13
colorama=0.4.6
coloredlogs=14.0
colossalai=0.3.3
colour-runner=0.1.1
comm=0.1.4
confection=0.1.3
contextlib2=21.6.0
contexttimer=0.3.3
contourpy=1.1.0
contractions=0.1.73
control-ldm=0.0.1
coverage=7.3.4
cpm-kernels=1.0.11
crcmod=1.7
cryptography=41.0.3
cycler=0.11.0
cymem=2.0.7
cython=0.29.36
dataclasses-json=0.5.14
dataproperty=1.0.1
datasets=2.2.1
ddpm-guided-diffusion=0.0.0
debugpy=1.6.7.post1
decorator=5.1.1
decord=0.6.0
deepdiff=6.7.1
deepspeed=0.10.2
defusedxml=0.7.1
deprecated=1.2.14
descartes=1.1.0
detoxify=0.5.1
diffusers=0.20.2
dill=0.3.6
distance=0.1.3
distlib=0.3.7
dm-control=1.0.16
dm-env=1.6
dm-tree=0.1.8
dnspython=2.3.0
docformatter=1.4
docker-pycreds=0.4.0
docutils=0.15.2
easydict=1.10
easyrobust=0.2.4
edit-distance=1.0.6
editdistance=0.6.2
edlib=1.3.9
einops=0.6.1
embeddings=0.0.8
emoji=2.8.0
environs=9.5.0
envpool=0.8.4
espnet-tts-frontend=0.0.3
et-xmlfile=1.1.0
etils=1.3.0
evaluate=0.4.0
eventlet=0.33.3
exceptiongroup=1.1.3
executing=1.2.0
fabric=3.2.2
face-alignment=1.4.1
fairscale=0.4.13
fairseq=0.12.2
farama-notifications=0.0.4
fastai=2.7.12
fastapi=0.95.1
fastcore=1.5.29
fastdownload=0.0.7
fasteners=0.19
fastjsonschema=2.18.0
fastprogress=1.0.3
ffmpeg=1.4
ffmpeg-python=0.2.0
ffmpy=0.3.1
filelock=3.13.1
fire=0.5.0
flake8=6.1.0
flake8-bugbear=23.9.16
flask=2.3.3
flask-cors=4.0.0
flask-restful=0.3.10
flask-socketio=5.3.6
flask-talisman=1.1.0
flatbuffers=23.5.26
fonttools=4.42.1
fqdn=1.5.1
frozenlist=1.4.0
fschat=0.2.31
fsspec=2023.12.2
ftfy=6.1.1
funasr=0.7.7
future=0.18.3
fuzzywuzzy=0.18.0
fvcore=0.1.5.post20221221
g2p=1.1.20230822
g2p-en=2.1.0
gast=0.5.4
gdown=4.7.1
gevent=23.9.0.post1
gitdb=4.0.10
gitdb2=4.0.2
gitpython=3.1.36
glfw=2.6.4
google-api-core=2.11.0
google-api-python-client=2.99.0
google-auth=2.22.0
google-auth-httplib2=0.1.1
google-auth-oauthlib=1.0.0
google-cloud-core=2.3.3
google-cloud-storage=2.10.0
google-crc32c=1.5.0
google-resumable-media=2.6.0
googleapis-common-protos=1.60.0
gputil=1.4.0
gradio=3.44.4
gradio-client=0.5.1
greenlet=2.0.2
grpcio=1.59.0
grpcio-tools=1.59.0
gym=0.26.2
gym-notices=0.0.8
gymnasium=0.29.1
h11=0.14.0
h5py=3.9.0
hdbscan=0.8.33
healpy=1.16.5
hjson=3.1.0
httpcore=0.17.3
httpie=3.2.2
httplib2=0.22.0
httptools=0.6.1
httpx=0.24.1
huggingface-hub=0.20.2
humanfriendly=10.0
humanize=4.9.0
hydra-core=1.3.2
hyperpyyaml=1.2.1
identify=2.5.29
idna=3.4
imageio=2.31.1
imageio-ffmpeg=0.4.8
imagesize=1.4.1
imgaug=0.4.0
importlib-metadata=6.8.0
importlib-resources=6.0.1
inflate64=0.3.1
inflect=7.0.0
iniconfig=2.0.0
inspecta=0.1.3
invoke=2.2.0
iopath=0.1.10
ipdb=0.13.13
ipykernel=6.25.1
ipython=8.12.2
ipython-genutils=0.2.0
ipywidgets=8.1.0
isoduration=20.11.0
itsdangerous=2.1.2
jaconv=0.3.4
jamo=0.4.1
jedi=0.19.0
jieba=0.42.1
jinja2=3.1.2
jmespath=0.10.0
joblib=1.3.2
json5=0.9.14
jsonlines=4.0.0
jsonpointer=2.4
jsonschema=4.19.0
jsonschema-specifications=2023.7.1
jupyter=1.0.0
jupyter-client=8.3.0
jupyter-console=6.6.3
jupyter-core=5.3.1
jupyter-events=0.7.0
jupyter-lsp=2.2.0
jupyter-server=2.7.2
jupyter-server-terminals=0.4.4
jupyterlab=4.0.5
jupyterlab-pygments=0.2.2
jupyterlab-server=2.24.0
jupyterlab-widgets=3.0.8
kaldiio=2.18.0
kantts=1.0.1
kiwisolver=1.4.4
kornia=0.7.0
kwsbp=0.0.6
labmaze=1.0.6
langchain=0.0.294
langcodes=3.3.0
langsmith=0.0.38
lap=0.4.0
latex2mathml=3.76.0
ld_impl_linux-64=2.38=h1181459_1
libffi=3.4.4=h6a678d5_0
libgcc-ng=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
librosa=0.9.2
libstdcxx-ng=11.2.0=h1234567_1
lightning-utilities=0.9.0
lit=16.0.6
llama-recipes=0.0.1
llvmlite=0.40.1
lm-eval=0.4.0
lmdb=1.4.1
loguru=0.7.0
loralib=0.1.2
lpips=0.1.4
lxml=4.9.3
lyft-dataset-sdk=0.0.8
markdown=3.3.2
markdown-it-py=2.2.0
markdown2=2.4.10
markupsafe=2.1.3
marshmallow=3.20.1
matplotlib=3.5.2
matplotlib-inline=0.1.6
mbstrdecoder=1.1.3
mccabe=0.7.0
mdit-py-plugins=0.3.5
mdtex2html=1.2.0
mdurl=0.1.2
megatron-util=1.3.2
milvus=2.3.1
mindaec=0.0.2
minio=7.1.17
mir-eval=0.7
mistune=3.0.1
ml-collections=0.1.1
mmcls=0.25.0
mmdet=2.28.2
mmdet3d=1.0.0a1
mmsegmentation=0.30.0
mock=5.1.0
modelscope=1.9.0
moviepy=1.0.3
mpmath=1.3.0
ms-swift=1.1.0
msgpack=1.0.5
mujoco=3.1.1
mujoco-py=2.1.2.14
multidict=6.0.4
multiprocess=0.70.14
multivolumefile=0.2.3
munkres=1.1.4
murmurhash=1.0.9
mypy-extensions=1.0.0
myst-parser=0.19.2
nara-wpe=0.0.9
nbclient=0.8.0
nbconvert=7.7.4
nbformat=5.9.2
ncurses=6.4=h6a678d5_0
nerfacc=0.2.2
nest-asyncio=1.5.7
networkx=2.8.4
nh3=0.2.14
ninja=1.10.2.4
nltk=3.8.1
nodeenv=1.8.0
notebook=7.0.2
notebook-shim=0.2.3
numba=0.57.1
numexpr=2.8.6
numpy=1.23.5
nuscenes-devkit=1.1.10
nvidia-cublas-cu11=11.10.3.66
nvidia-cuda-cupti-cu11=11.7.101
nvidia-cuda-nvrtc-cu11=11.7.99
nvidia-cuda-runtime-cu11=11.7.99
nvidia-cudnn-cu11=8.5.0.96
nvidia-cufft-cu11=10.9.0.58
nvidia-curand-cu11=10.2.10.91
nvidia-cusolver-cu11=11.4.0.1
nvidia-cusparse-cu11=11.7.4.91
nvidia-nccl-cu11=2.14.3
nvidia-nvtx-cu11=11.7.91
oauthlib=3.2.2
omegaconf=2.3.0
onnx=1.14.1
onnxruntime=1.15.1
onnxsim=0.4.33
open-clip-torch=2.20.0
openai=0.27.9
opencv-python=4.8.0.76
opencv-python-headless=4.8.0.76
openpyxl=3.1.2
openssl=3.0.10=h7f8727e_0
opt-einsum=3.3.0
optimum=1.13.1
optree=0.10.0
ordered-set=4.1.0
orjson=3.9.5
oss2=2.18.1
overrides=7.4.0
packaging=23.1
paint-ldm=0.0.0
pandas=1.5.3
pandocfilters=1.5.0
panopticapi=0.1
panphon=0.20.0
paramiko=3.3.1
parlai=1.7.2
parso=0.8.3
pathspec=0.11.2
pathvalidate=3.2.0
pathy=0.10.2
peft=0.5.0
pexpect=4.8.0
pickleshare=0.7.5
pillow=9.5.0
pip=23.2.1
pkgutil-resolve-name=1.3.10
platformdirs=3.10.0
plotly=5.16.1
pluggy=1.3.0
plyfile=1.0.1
pooch=1.7.0
portalocker=2.7.0
pre-commit=3.4.0
preshed=3.0.8
prettytable=3.9.0
proglog=0.1.10
prometheus-client=0.17.1
prompt-toolkit=3.0.39
protobuf=3.19.6
psutil=5.9.5
ptflops=0.7
ptyprocess=0.7.0
pure-eval=0.2.2
py-cpuinfo=9.0.0
py-gfm=2.0.0
py-rouge=1.1
py-sound-connect=0.2.1
py3nvml=0.2.7
py7zr=0.20.6
pyahocorasick=2.0.0
pyarrow=13.0.0
pyasn1=0.5.0
pyasn1-modules=0.3.0
pybcj=1.0.1
pybind11=2.11.1
pyclipper=1.3.0.post5
pycocoevalcap=1.2
pycocotools=2.0.7
pycodestyle=2.11.0
pycparser=2.21
pycrypto=2.6.1
pycryptodome=3.18.0
pycryptodomex=3.18.0
pydantic=1.10.11
pydantic-core=2.6.3
pydeck=0.8.0
pydeprecate=0.3.2
pydot=1.4.2
pydub=0.25.1
pyerfa=2.0.0.3
pyexecjs=1.5.1
pyflakes=3.1.0
pygments=2.16.1
pymcubes=0.1.4
pymilvus=1.1.0
pympler=1.0.1
pynacl=1.5.0
pynndescent=0.5.10
pyopengl=3.1.7
pyparsing=3.0.9
pypinyin=0.49.0
pyppmd=1.0.0
pyproject-api=1.6.1
pyquaternion=0.9.9
pysocks=1.7.1
pysptk=0.1.18
pytablewriter=1.2.0
pytest=7.4.0
pytest-datadir=1.4.1
pytest-regressions=2.5.0
pythainlp=4.0.2
python=3.8.17=h955ad1f_0
python-crfsuite=0.9.9
python-dateutil=2.8.2
python-dotenv=1.0.0
python-engineio=4.7.1
python-json-logger=2.0.7
python-multipart=0.0.6
python-socketio=5.9.0
pytorch-lightning=1.7.7
pytorch-wavelets=1.3.0
pytorch-wpe=0.0.1
pytz=2023.3
pytz-deprecation-shim=0.1.0.post0
pyvi=0.1.1
pywavelets=1.4.1
pyyaml=6.0.1
pyzmq=25.1.1
pyzstd=0.15.9
qtconsole=5.4.3
qtpy=2.3.1
qudida=0.0.4
rank-bm25=0.2.2
rapidfuzz=3.3.0
ray=2.7.1
readline=8.2
redis=5.0.0
referencing=0.30.2
regex=2023.8.8
requests=2.31.0
requests-mock=1.11.0
requests-oauthlib=1.3.1
requests-toolbelt=1.0.0
resampy=0.4.2
responses=0.18.0
retrying=1.3.4
rfc3339-validator=0.1.4
rfc3986-validator=0.1.1
rich=13.5.2
rootpath=0.1.1
rotary-embedding-torch=0.3.0
rouge=1.0.1
rouge-chinese=1.0.3
rouge-score=0.0.4
rpds-py=0.9.2
rsa=4.9
ruamel-yaml=0.17.28
ruamel-yaml-clib=0.2.7
s3transfer=0.6.2
sacrebleu=2.3.1
sacremoses=0.0.53
safetensors=0.3.3
scikit-image=0.19.3
scikit-learn=1.3.0
scipy=1.10.1
semantic-version=2.10.0
send2trash=1.8.2
sentencepiece=0.1.99
sentry-sdk=1.39.1
seqeval=1.2.2
setproctitle=1.3.3
setuptools=68.2.2
sh=2.0.6
shapely=1.8.5
shortuuid=1.0.11
shotdetect-scenedetect-lgss=0.0.4
simple-websocket=0.10.1
simplejson=3.19.1
six=1.16.0
sklearn-crfsuite=0.3.6
smart-open=6.4.0
smmap=5.0.0
smplx=0.1.28
sniffio=1.3.0
snowballstemmer=2.2.0
sortedcontainers=2.4.0
soundfile=0.12.1
soupsieve=2.4.1
sox=1.4.1
spacy=3.6.1
spacy-legacy=3.0.12
spacy-loggers=1.0.5
speechbrain=0.5.15
sphinx=5.1.1
sphinx-autodoc-typehints=1.10.3
sphinx-rtd-theme=1.3.0
sphinxcontrib-applehelp=1.0.4
sphinxcontrib-devhelp=1.0.2
sphinxcontrib-htmlhelp=2.0.1
sphinxcontrib-jquery=4.1
sphinxcontrib-jsmath=1.0.1
sphinxcontrib-qthelp=1.0.3
sphinxcontrib-serializinghtml=1.1.5
sqlalchemy=2.0.21
sqlite=3.41.2
sqlitedict=2.1.0
srsly=2.4.7
sse-starlette=1.6.5
stack-data=0.6.2
stanza=1.5.1
starlette=0.26.1
streamlit=1.26.0
style=1.1.0
subword-nmt=0.3.8
svgwrite=1.4.3
sympy=1.12
tabledata=1.3.3
tabulate=0.9.0
taming-transformers-rom1504=0.0.6
tcolorpy=0.1.4
tdqm=0.0.1
tenacity=8.2.3
tensorboard=2.14.0
tensorboard-data-server=0.7.1
tensorboardx=2.5
tensorflow-estimator=2.14.0
termcolor=2.3.0
terminado=0.17.1
terminaltables=3.1.10
text-unidecode=1.3
textgrid=1.5
textsearch=0.0.24
texttable=1.6.7
tf-slim=1.1.0
thinc=8.1.12
thop=0.1.1-2209072238
threadpoolctl=3.2.0
tianshou=0.4.11
tifffile=2023.7.10
tiktoken=0.5.1
timm=0.5.4
tinycss2=1.2.1
tk=8.6.12
tokenize-rt=5.2.0
tokenizers=0.15.0
toml=0.10.2
tomli=2.0.1
toolz=0.12.0
torch=2.0.1
torch-complex=0.4.3
torch-scatter=2.1.1
torchaudio=2.0.2
torchdata=0.6.1
torchmetrics=1.1.2
torchsummary=1.5.1
torchtext=0.15.2
torchvision=0.15.2
tornado=6.3.3
tox=4.11.4
tqdm=4.62.3
tqdm-multiprocess=0.0.11
traitlets=5.9.0
transformers=4.36.2
transformers-stream-generator=0.0.4
trimesh=2.35.39
triton=2.0.0
trl=0.7.1
ttsfrd=0.2.1
typepy=1.3.2
typer=0.9.0
types-protobuf=4.24.0.4
typing-extensions=4.7.1
typing-inspect=0.9.0
tzdata=2023.3
tzlocal=4.3.1
ujson=5.8.0
umap-learn=0.5.3
unicodecsv=0.14.1
unicodedata2=15.0.0
unidecode=1.3.6
untokenize=0.1.1
update=0.0.1
uri-template=1.3.0
uritemplate=4.1.1
urllib3=1.26.16
utils=1.0.1
uvicorn=0.23.2
uvloop=0.19.0
validators=0.22.0
videofeatures-clipit=1.0
virtualenv=20.24.5
vllm=0.2.1.post1
wandb=0.16.1
wasabi=1.1.2
watchdog=3.0.0
watchfiles=0.21.0
wavedrom=2.0.3.post3
wcwidth=0.2.6
webcolors=1.13
webencodings=0.5.1
websocket-client=1.6.2
websockets=11.0.3
werkzeug=2.3.7
wheel=0.38.4
widgetsnbextension=4.0.8
wrapt=1.15.0
wsproto=1.2.0
xformers=0.0.22
xlrd=2.0.1
xlsxwriter=3.1.9
xmltodict=0.13.0
xxhash=3.3.0
xz=5.4.2
yacs=0.1.8
yapf=0.40.1
yarl=1.9.2
zhconv=1.4.3
zipp=3.16.2
zlib=1.2.13
zope-event=5.0
zope-interface=6.0
zstandard=0.22.0
